<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <title>My Angular App</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body ng-controller="storeController as store">

    <div class="container-fluid">
      <h1>PET STORE</h1>
      {{store.message}}
      <table id="myTable" class="table table-condensed table-hover">
        <tr>
          <th>
            Name
          </th>
          <th>
            Species
          </th>
          <th>
            Breed
          </th>
          <th>
            Temperament
          </th>
          <th>
            Purchase
          </th>
        </tr>
        <tr ng-repeat="pet in store.pets">
          <td>
            {{pet.name}}
          </td>
          <td>
            {{pet.species}}
          </td>
          <td>
            {{pet.breed}}
          </td>
          <td>
            {{pet.temperament}}
          </td>
        </tr>
      </table>

      <div>
        <button type="button" class="btn btn-primary" id="try" ng-click="store.buy()">Purchase</button>
      </div>

      <br>
      <br>
    </div>


    <!-- <script>

        document.getElementById("myTable").addEventListener("submit", function(e) {
          e.preventDefault();

          let checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
          let purchase = [];

          for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
              purchase.push(checkboxes[i].value);
              alert(purchase[i]);
            }
          }

          console.log(purchase);

          for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
              pets.splice(pets.indexOf(pets), 1);
            }
          }
      });
    </script>

    <script>

    $("#myTable tr").on("click", function(e) {
      $(this).parent().parent().remove();
    });
    </script> -->

    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="app.js"></script>
  </body>
</html>
